body, button, input, select, textarea {
    font-family: "Trebuchet MS",Helvetica,Verdana,sans-serif;
    font-size:14px;
}

a {
    font-family: "Trebuchet MS",Helvetica,Verdana,sans-serif;
    text-decoration: none;
}

#login-block {
    width: 210px;
    padding: 10px;
    height: 140px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#login, #password {
    width: 202px;
    margin-bottom: 3px;
}

.btn {
    background-color: #f2f2f2;
    padding: 10px;
    border: none;
    border-radius: 1px;
}

.btn:hover {
    cursor: pointer;
    border-bottom: 4px solid #08c;
    padding-bottom: 6px;
}

#login-block {
    border-left: 1px solid #eee;
}

#login-block #login, #login-block #password {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
}